# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# HuggingFace / AI Cache
.hf_cache/
.cache/

# Firebase Secret Keys
firebase/*.json
*firebase*.json

# Environment Variables
.env

# Logs
*.log

# Build files
build/
dist/

# OS Files
.DS_Store
Thumbs.db